.statsBox{
    height: 98vh;
    width: 95%;
    margin-top: 1vh;
    margin-left: 2.5%;
    overflow-y: auto;
    padding-top: 10px;
}
.monthStatBox{
    display: inline-block;
    margin: 4px;
    padding: 4px; 
    vertical-align: bottom;    
}
.columnContainer{
    width: 25px;
    display: inline-block;
    vertical-align: bottom;
    user-select: none;
    cursor: cell;
}
.column{
    width: 100%;   
    vertical-align: bottom;  
}
.barGreen{
    background-color: green;
}
.barGray{
    background-color: gray;
}
.barLightBlue{
    background-color: lightblue;
}
.barDarkGreen{
    background-color: rgb(30, 61, 30);
}
.barYellow{
    background-color: rgba(216, 216, 96, 0.689);
}
.barBlue{
    background-color: rgba(63, 63, 177, 0.759);
}
.container{
    vertical-align: bottom;
}
.statNumber{
    display: inline-block;
    width: 140px;
    padding: 5px;
    border: 1px solid rgba(128, 128, 128, 0.309);
    cursor: crosshair;
}